html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    display: block;
}


.titlebar {
    background-color: #FF9800;
    display: block;
    height: 6vh;
}
.titlebar h1 {
    margin: 0;
    font-size: 2em;
    color: white;
}

#video_div {
    height: 85vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

#video_player {
    display: inline-block;
    height: 100%;
    width: 100%;
}
#video_player.hasSrc {
    display: inline-block
}

.controller {
    background-color: #E0E0E0;
    display: flex;
    flex-direction:column;
    height: 9vh;
    width: 100%;
    text-align: center;
    justify-content:center;
    align-content:center;
}

.controller label {
    font-size: 1.5em;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
}
